<md-bottom-sheet class="md-list md-has-header">
    <md-subheader ng-cloak>
        <h3>
            Saved Hashes
        </h3>

    </md-subheader>
    <md-list class="saved-words-list">
        <md-list-item class="md-1-line saved-word-in-list" ng-repeat="word in words"
                      ng-click="selectWord(word.id)">

            <div class="md-list-item-text" layout="column">
                {{::word.word}}
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</md-bottom-sheet>